body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  font-family: Arial, sans-serif;
}

/* Vizitka samotná */
.card {
  width: 300px;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.card p {
  font-size: 16px;
  margin: 10px 0;
  color: #666;
}
